.Feature-screen1{
    padding: 0 50px;
    padding-top: 70px;
    
}

.Feature-screen1-head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px    
}
.line{
    width: 150px;
    height: 3px;
    margin-top: 10px;
    background-color: green;
}
.Feature-screen1-head div{
    /* flex: 2;
     */
     width: 320px;
}
.Feature-screen1-head p{
    padding-right: 20px;
    font-size: 15px;
    color: rgb(109, 108, 108);
}