.screen1{
    padding-top:100px ;
}
.screen1-scction1 h2{
    text-align: center;
    font-size: 30px;

}
.screen1-scction1 div{
    background-color: blue;
    margin: 0 auto;
    margin-top: 15px;

    height: 3px;
    width: 150px;
    border-radius: 10px;
}
.screen1-scction1 p{
    text-align: center;
    margin-top: 25px;
    padding: 0px 250px;
    line-height: 25px;
    font-size: 18px;
    color: gray;
} 


.screen1-scction2{
    padding-top: 50px;
    flex-wrap: wrap;
    margin-top: 130px;
    display: flex;
    
    justify-content: center;
    gap:30px;
    min-height: 100vh;
    background-color: rgb(85, 144, 255);
}

.image{
    width: 35%;
    height: 100%;
    background-color: white;
    background-color: rgb(85, 144, 255);
    background-color: rgb(238, 237, 237);
    background-color: rgb(85, 144, 255);
    /* background-color: rgb(238, 237, 237); */
    position: relative;
    
}
.text{
    width: 50%;
    /* border: 1px solid pink; */
    display: flex;
    align-items: center;
    
}
.text p{
    line-height: 27px;
    font-size: 18px;
    color:rgb(255, 255, 255);
    letter-spacing: 1px;
    padding: 0px 17px;
}

.image img{
    width: 100%;
    box-shadow: 0px 17px 15px -3px rgba(0,0,0,0.1);
    border-radius: 30px;
    /* height: 100%; */
    position: relative;
    background-color: rgb(255, 255, 255);
    top:-100px;
    
    object-fit: cover
}

.screen1-section3{
    padding: 50px 10px;
}

.screen1-section3 h2{
    padding: 0 50px;
    width: 50%;
    line-height: 25px;
    font-size: 23px;
    margin: 10px auto;
    text-align: center;
}
.screen1-section3 div:nth-child(2){
    background-color: blue;
    margin: 0 auto;
    margin-top: 15px;

    height: 3px;
    width: 150px;
    border-radius: 10px;

}
            
.screen1-section3-section1{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 50px;
    flex-wrap: wrap;
    min-height: 25vh;
    width: 100%;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
   
}
.screen1-section3-section1 img{
    width: 380px;
    padding: 0px 120px;
    height: 150px;
    background-color: rgb(135, 245, 92);
    object-fit: contain;
    

}





@media (max-width: 900px){
    .screen1-scction1 p{
        padding: 0px 50px;
        
    }
    .screen1-section3 h2{
        width: 100%;
        padding: 0px 5px;
    }
    
}
@media (max-width:980px){
    .screen1-section3 h2{
        width: 70%;
        padding: 0 30px;
    }
    .screen1-scction2{
        
        gap: 5px;
        
        /* min-height: 130vh */
        
    }
    .image{
        width: 100%;
        min-height:fit ;
        display: flex;
        justify-content: center;
        /* border: 1px solid green; */
        
    }
    .text{
        min-height: max-content;
        width: 100%;
        padding: 0px 10px;
        
    }
    .image img{
        /* top: 0px; */
        width: 70%;
    }
    
}