.homescreen4{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    


}
.homescreen4-section1{
    padding: 0 50px;
    
    padding-top: 50px;
    width: 50%;
    border: 1px solid red;
    min-height:max-content ;
}
.homescreen4-section1 div{
    width: 92%;
}
.homescreen4-section1 p{
    margin:15px 0 ;
    color: gray;
    font-size: 18px;
    line-height: 26px;
}
.frameworks{
    width: 80%;
}
.homescreen4-section2{
    width: 50%;
    border: 1px solid blue;
    height: 500px;
}

@media (max-width:960px) {
    .homescreen4-section1{
        width: 95%;
    }
    .frameworks{
        width: 100%;
    }
    .homescreen4-section2{
        width: 95%;
    }
    
}