.navbar {
    height: 80px;
    width: 100%;
    padding: 20px 3%;
    position: sticky;
    top: 0;
    /* background-color: rgb(255, 255, 255); */
    backdrop-filter: blur(10px);
    /* background-color: transparent; */
    display: flex;
    justify-content: space-between;
    /* border-bottom: 0.1px solid rgb(206, 206, 206); */
}

.logo {
    display: flex;
    flex: 1;
    gap: 5px;
    align-items: center;
    /* border: 1px solid rgb(43, 80, 180); */
}

.logo img {
    width: 50px;
    height: 50px;
}

.text1 {
    font-size: 21px;
    color: rgb(3, 177, 3);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.text2 {
    font-size: 21px;
    color: blue;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-items {
    flex: 2;
    /* border: 1px solid rgb(184, 0, 0); */
    display: flex;
    align-items: center;
gap:50px
}

.navbar-item {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: rgb(29, 29, 29);
    flex-direction: column;
    position: relative;
    padding: 10px 0;
    font-weight: 500;
}

.navbar-item:hover .dropdown {
    
    display: flex;
    
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 10px 10px;
    top: 40px;
    left: -50px;
    width: 160px;
    min-height: max-content;
    z-index: 1;
    border: 0.1px solid rgb(182, 179, 179);
    border-radius: 5px;
    transition: all;
    transition-duration: 0.7s;
}


.nav-right {
    
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid green; */
}
.dropdown-item a{
    text-decoration: none;
    color: black;
    padding: 0px 15px;
    border-radius: 8px;
}
.dropdown-item a:hover{
    color: white;
}
.dropdown-item{
    
    border-radius: 5px;
    padding: 5px 10px;
    transition: all;
    transition-duration: 0.2s;
    cursor: pointer;
}
.dropdown-item:hover{
    background-color: rgb(3, 177, 3);
    color: white;
    
}

.nav-right button{
    background:none;
    padding: 7px 10px;
    border-radius: 5px;
    border :0.1px solid rgb(228, 226, 226);
    color:rgb(102, 101, 101);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;

}

.nav-right button:hover{
    background-color: rgb(83, 214, 51);
    color: white;
}
@media (max-width:950px) {
    .navbar-items{
        display: none;
    }
}