.privacy-screen1{
    padding-top: 80px;
    /* border: 1px solid red; */
    width: 48%;
    margin: 0 auto;
    height: max-content;
}
.privacy-screen1 h2{
    text-align: center;
}
.privacy-screen1 .p1{
    text-align: center;
    margin-top: 20px;
    color: gray;
    font-size: 17px;
}
.privacy-screen1 .p2{
    line-height: 29px;
    margin-top: 50px;
}
.privacy-screen1 li{
    line-height: 27px;
    margin: 10px 0;
    color: rgb(67, 48, 247);
}
@media(max-width:1000px){
    .privacy-screen1{
        width: 60%;
    }

}
@media(max-width:800px){
    .privacy-screen1{
        width: 80%;
    }

}
